@import "../../common";

page {
  background: linear-gradient(
                  #14529e,
                  #295fb3,
                  #406fcb,
                  #517fdc,
                  #578de3,
                  #4ea3dc,
                  #3ab8cc,
                  #2ac6be
  );
}

.list {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .item {
    margin: rpx(30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;

    color: #fff;
    width: rpx(280);
    height: rpx(300);
    font-size: rpx(32);
    border-radius: rpx(10);
    background-color: rgba(#1ea6eb, .5);
    .icon {
      font-size: rpx(80);
    }
  }
}

//.prompt {
//  .pull {
//    position: fixed;
//    width: 100%;
//    height: 100%;
//    left: 0;
//    top: 0;
//    z-index: 1000;
//    background-color: rgba(0, 0, 0, 0.5);
//  }
//  .prompt-content {
//    border-radius: rpx(10);
//    z-index: 1001;
//    background-color: #ffffff;
//    width: 80%;
//    position: absolute;
//    left: 10%;
//    top: 50%;
//    .content {
//      color: #406fcb;
//      padding: rpx(15) rpx(30);
//      line-height: rpx(80);
//      > view {
//        display: flex;
//        align-items: center;
//        > view {
//          margin: 0 rpx(5);
//        }
//      }
//    }
//  }
//}